<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>queue up!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"/>
  <!-- Custom styles for this template -->
  {% block head %}
  {% endblock %}
</head>

<body>

  <!-- Navigation -->
  {% if current_user.is_authenticated %}
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('create_profile') }}">edit profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('queue') }}">queue up</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('matches') }}">matches</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">logout</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  {% endif %}



  {% block content %}
  {% endblock %}


  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="copyright text-muted">Copyright &copy; 2020</p>
        </div>
      </div>
    </div>
  </footer>


</body>

</html>
